.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__content {
    text-align: center;

    h1 {
      font-size: 4rem;

      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 3px;
        background: linear-gradient(
          90deg,
          var(--hot-pink) 0%,
          var(--lime) 100%
        );
        margin-block: 1rem;
        margin-inline: auto;
        border-radius: 2px;
      }
    }
  }
}
